body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-mini: 15px;
    --font-size-xs: 12px;
  
    /* Colors */
    --color-black: #000;
    --color-white: #fff;
    --color-gold: #d7da2c;
  
    /* border radiuses */
    --br-24xl: 43px;
    --br-8xs: 5px;
  }
  